html,body{
	width: 100%;
	height: 100%;
}
body{
	margin:0;
	background: #000;
}

#game_words, #game_choices, #paused{
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

#game_container{

	position: absolute;
	top:0; left:0; bottom:0; right:0;
	margin: auto;

	width: 360px;
	height: 600px;
	background: #2E2E2E;

	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 1.3em;

	overflow: hidden;

}
#game_words{
	width: auto;
	position: relative;
	top: 80px;
	overflow: hidden;
}

#paused{
	display: none;

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(40,40,40,0.9);
	color: #fff;
	font-weight: bold;
	text-align: center;
}
#paused > div{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 260px;
	height: 70px;
	font-size: 69px;
}
#paused > div > div{
	font-size: 20px;
	font-weight: lighter;
	line-height: 1em;
	width: 220px;
	margin: 15px auto;
}

.clear-both{
	clear:both;
}

.narrator-bubble{
	position: relative;
	color: #FFFFFF;
	text-align: center;
	padding: 0 10px;
	font-size: 1.3em;
	margin: 25px 15px;
	font-weight: bold;
}
.narrator-bubble:before{

	content: '';
	
	position: absolute;
	top: -9px;
	left: 0;
	
	border: 6px solid #fff;
	border-right: 0;

	width: 10px;
	height: calc(100% + 4px);
	
} 
.narrator-bubble:after{

	content: '';
	
	position: absolute;
	top: -9px;
	right: 0;
	
	border: 6px solid #fff;
	border-left: 0;

	width: 10px;
	height: calc(100% + 4px);
	
} 
.narrator-bubble i{
	font-style: normal;
	color: #ff4040;
}

.hong-bubble {
	position: relative;
	background: #ffffff;
	color: #000000;
	border-radius: .4em;
	padding: 15px;
	margin: 5px 30px;

	opacity: 0;
	left: -15px;
	transition: all 0.3s ease-in-out;

	display: inline-block;
	float: left;

}
.hong-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	margin-top: -15px;
	margin-left: -15px;
}

.beebee-bubble {
	position: relative;
	background: #000000;
	color: #ffffff;
	border-radius: .4em;
	padding: 15px;
	margin: 5px 30px;

	opacity: 0;
	left: 15px;
	transition: all 0.3s ease-in-out;

	display: inline-block;
	float: right;

}
.beebee-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #000000;
	border-right: 0;
	margin-top: -15px;
	margin-right: -15px;
}

#game_choices{
	
	width: 100%;
	height: 110px;
	padding: 20px 0; 
	
	position: absolute;
	bottom:0;

	background: #2E2E2E;
	text-align: center;
	color: #fff;
	font-weight: lighter;

}
#game_choices > div{
	padding: 0.25em 0;
	cursor: pointer;
	position: relative;

	/* Spring OUT only */
	-webkit-transition: top 500ms cubic-bezier(0.350, 0.005, 0.370, 1); /* older webkit */
	-webkit-transition: top 500ms cubic-bezier(0.350, 0.005, 0.370, 1.390); 
	   -moz-transition: top 500ms cubic-bezier(0.350, 0.005, 0.370, 1.390); 
	     -o-transition: top 500ms cubic-bezier(0.350, 0.005, 0.370, 1.390); 
	        transition: top 500ms cubic-bezier(0.350, 0.005, 0.370, 1.390); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.350, 0.005, 0.370, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.350, 0.005, 0.370, 1.390); 
	   -moz-transition-timing-function: cubic-bezier(0.350, 0.005, 0.370, 1.390); 
	     -o-transition-timing-function: cubic-bezier(0.350, 0.005, 0.370, 1.390); 
	        transition-timing-function: cubic-bezier(0.350, 0.005, 0.370, 1.390); /* custom */
}
#game_choices > div:hover{
	background: rgba(255,255,255,0.25);
}

/***********************************/
/***********************************/
/***********************************/

canvas{
	border: none;
}
#game_canvas{
	position: absolute;
	top:0; left:0;
}

#game_hp{
	position: absolute;
	width: 360px;
	height: 100px;
	top:-100px;
	left:0;
	transition: top 0.5s ease-in-out;
}
